#login-sigup-btns {
    text-align: center;
}

button {
    text-transform: uppercase;    
}

.section1 {
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100%;
    background-size: cover;
}