<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- <div>
        {{ loginForm.value | json }}
    </div>
    <div>
        {{ loginForm.valid }}
    </div> -->
    <mat-form-field class="block">
        <input matInput placeholder="email" type="email" id="email" name="email" #email="ngModel" required [(ngModel)]="loginInfo.email">
        <mat-error *ngIf="email.invalid">Please enter valid email</mat-error>
    </mat-form-field>
    <mat-form-field class="block">
        <input matInput placeholder="password" type="password" id="password" name="password" #password="ngModel" required [(ngModel)]="loginInfo.password">
        <mat-error *ngIf="password.invalid">Please enter valid password</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Log In</button>
</form>