<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Tasky</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Options</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Options</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </nav>    



<router-outlet></router-outlet>