<mat-card>
    <mat-icon (click)="isModalShowing=true" class="card-menu">menu</mat-icon>
    <h1 aria-placeholder="Title">{{ task.title }}</h1>
    <h4>Due by: </h4>
    <h6>{{ task.dueDate | date : 'shortDate' }}</h6>
    <h6>{{ task.dueDate | date : 'shortTime' }}</h6>
    <mat-progress-bar mode="determinate" [value]="elapsedPercentage" [ngClass]="{'red': elapsedPercentage <= 20, 'yellow': elapsedPercentage < 50}"></mat-progress-bar>
    <mat-form-field class="">
        <input matInput type="text" placeholder="tags" [(ngModel)]="value" />
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <div class="btn-group">
        <button mat-fab color="warn" class="action-btn">&#10006;</button>
        <button mat-fab color="accent" class="action-btn">&#10004;</button>
        <button mat-fab color="primary" class="action-btn">&#8986;</button>
    </div>
</mat-card>

<task-modal [(task)]="task" [(isShowing)]="isModalShowing"></task-modal>