<mat-card>
        <h4>{{ task.id }}</h4>
    
    <mat-icon (click)="isModalShowing=true" class="card-menu">menu</mat-icon>
    <h1 aria-placeholder="Title">{{ task.title }}</h1>
    <h4>Due by: </h4>
    <h4>{{ task.dueDate | date : 'shortDate' }}</h4>
    <h4>{{ task.dueDate | date : 'shortTime' }}</h4>
    
    <mat-progress-bar mode="determinate" [value]="elapsedPercentage" [ngClass]="{'red': elapsedPercentage <= 20, 'yellow': elapsedPercentage < 50}"></mat-progress-bar>
    <mat-form-field class="">
        <input matInput type="text" placeholder="tags" [(ngModel)]="value" />
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <div class="btn-group">
        <button mat-fab color="warn" class="action-btn delete-btn" (click)="deleteTask()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-fab color="accent" class="action-btn complete-btn">
            <mat-icon>check</mat-icon>
        </button>
        <button mat-fab color="primary" class="action-btn timer-btn">
            <mat-icon>timer</mat-icon>
        </button>
    </div>
    <!-- 
    
    <label>
        Date
        <input [(owlDateTimeTrigger)]="dt3" [(owlDateTime)]="dt3">
        <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
    </label>
    
    <label>
        Time
        <input [(owlDateTimeTrigger)]="dt4" [(owlDateTime)]="dt4">
        <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
    </label> -->

    <!-- <input [matDatepicker]="myDatepicker">
    <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker> -->



</mat-card>

<task-modal [(task)]="task" [(isShowing)]="isModalShowing" (delete)="deleteTask()"></task-modal>