task-card {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 25px;
    text-align: center;
}
task-card mat-card.completed {
    background-color: #70d2ff;
}
task-card .card-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


task-card mat-form-field {
    display: block;
    text-align: center;
}

task-card .btn-group {
    margin: 7px;
}

task-card .btn-group .action-btn {
    height: 50px;
    width: 50px;
    margin: 10px;
}

task-card mat-progress-bar .mat-progress-bar-primary:after {
    background-color: green;
}


task-card mat-progress-bar.yellow .mat-progress-bar-primary:after {
    background-color: yellow;
}

task-card mat-progress-bar.red .mat-progress-bar-primary:after {
    background-color: red;
}

task-card .mat-progress-bar-buffer {
    background-color: gainsboro;
}
