<mat-card class="example-card">
    <h1 aria-placeholder="Title">{{ task.title }}</h1>
    <h4>Due by: </h4>
    <h6>{{ task.dueDate | date : 'shortDate' }}</h6>
    <h6>{{ task.dueDate | date : 'shortTime' }}</h6>
    <mat-progress-bar mode="determinate" [value]="elapsedPercentage"></mat-progress-bar>


    <mat-form-field class="">
        <input matInput type="text" placeholder="tags" [(ngModel)]="value" />
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>


    <div class="btn-group">
        <button mat-fab color="warn">Delete</button>
        <button mat-fab color="primary">Complete</button>
        <button mat-fab color="accent">Start Timer</button>
    </div>

</mat-card>