<div class="background" *ngIf="isShowing" (click)="close()"></div>
<div class="oxy-modal" *ngIf="isShowing">
    <div class="detail-modal">
        <div id="modal-bg">
            <div id="modal-left">
                <div class="modal-time"></div>
                
            </div>
            <div class="modal-center">
                <div id="modal-header">
                    <mat-form-field>
                        <input [(ngModel)]="task.title" matInput>
                    </mat-form-field>
                </div>
                <div class="modal-body">
                        <mat-form-field>
                        <input type="input" placeholder="Task Description" class="task-description">   
                            </mat-form-field>      
                                
                </div>
                <div class="modal-options">
                        <button mat-fab color="warn" class="action-btn">&#10006;</button>
                        <button mat-fab color="accent" class="action-btn">&#10004;</button>
                        <button mat-fab color="primary" class="action-btn">&#8986;</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="task-switcher">
        <button mat-fab color="basic" id="prev-item"><</button>
        <button mat-fab color="basic" id="next-item">></button>
    </div>
</div>