.lead {
    text-align: center;
}
/* per Materialize best practices, buttons should always have their text in uppercase */
button {
    text-transform: uppercase;    
}
 /* space out buttons nicely */
.lead button {
    margin: 20px;
}

.navbar-nav {
    float: right;
} 
