<!-- <div class="container d-flex h-100 p-3 mx-auto flex-column">

    <main role="main" class="inner cover">
        <h1 class="
        text-center">Welcome to Tasky</h1>
    
        <p class="lead">A simple, elegant productvity app focused on helping you get stuff done.</p>
        <p class="lead">
            <button mat-raised-button  color="accent" (click)="showLogIn()">Log In</button>
            <br>
            <button mat-raised-button color="primary" (click)="showSignUp()">Sign Up</button>
        </p>
    </main>
    <oxy-modal [(isShowing)]="isLoginShowing">
        <app-login-menu></app-login-menu>
    </oxy-modal>
    <oxy-modal [(isShowing)]="isSignUpShowing">
            <app-signup-menu></app-signup-menu>
    </oxy-modal>
    
</div> -->
<div class="nav">
        <div class="w-container">
          <div class="logo_container"><img src="../../assets/images/logo.png" width="139" class="logo_img"></div>
        </div>
      </div>
      <div class="hero"></div>
      <div>
        <div class="container w-container">
          <h1 class="heading"><strong class="bold-text">Your time is yours again</strong></h1>
          <h4 class="heading-2">A simple, elegant productivity app focused on helping you get stuff done.</h4>
          <div class="btn_cont"><button class="main_btn w-button" (click)="showLogIn()">Login</button><button href="#" class="main_btn sign_up w-button" (click)="showSignUp()">Sign up</button></div>
          <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
        </div>
        <oxy-modal [(isShowing)]="isLoginShowing">
                <app-login-menu></app-login-menu>
            </oxy-modal>
            <oxy-modal [(isShowing)]="isSignUpShowing">
                    <app-signup-menu></app-signup-menu>
            </oxy-modal>
      </div>